anki==2.1.65
appdirs==1.4.4
APScheduler==3.9.1
argos-translate-files==1.1.1
argostranslate==1.8.0
astroid==2.15.0
async-timeout==4.0.2
autopep8==1.6.0
Babel==2.12.1
beautifulsoup4==4.9.3
blinker==1.6.2
cachelib==0.10.2
certifi==2023.5.7
charset-normalizer==2.1.1
click==8.1.3
colorama==0.4.6
commonmark==0.9.1
ctranslate2==2.24.0
decorator==5.1.1
Deprecated==1.2.14
dill==0.3.6
docstring-to-markdown==0.11
expiringdict==1.2.2
filelock==3.12.2
flake8==6.0.0
Flask==2.2.2
flask-babel==3.1.0
Flask-Cors==4.0.0
Flask-Limiter==2.6.3
Flask-Session==0.4.0
flask-swagger==0.2.14
flask-swagger-ui==4.11.1
idna==3.4
importlib-resources==5.12.0
isort==5.12.0
itsdangerous==2.1.2
jedi==0.18.2
Jinja2==3.1.2
lazy-object-proxy==1.9.0
libretranslate==1.3.11
limits==3.5.0
LTpycld2==0.42
lxml==4.9.2
Markdown==3.4.3
MarkupSafe==2.1.3
mccabe==0.7.0
Morfessor==2.0.6
mpmath==1.3.0
networkx==3.1
numpy==1.25.0
orjson==3.9.2
packaging==23.0
parso==0.8.3
platformdirs==3.1.1
pluggy==1.0.0
polib==1.1.1
prometheus-client==0.15.0
protobuf==4.23.3
psutil==5.9.5
pycodestyle==2.10.0
pydocstyle==6.2.3
pyflakes==3.0.1
Pygments==2.15.1
pylint==2.17.0
PySocks==1.7.1
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.7.1
pytoolconfig==1.2.5
pytz==2023.3
PyYAML==6.0
redis==4.3.4
requests==2.28.1
rich==12.6.0
rope==1.7.0
tomlkit==0.11.6
torch==2.0.1
tqdm==4.65.0
translatehtml==1.5.2
typing_extensions==4.5.0
tzdata==2023.3
tzlocal==5.0.1
ujson==5.7.0
urllib3==1.26.16
waitress==2.1.2
Werkzeug==2.2.2
whatthepatch==1.0.4
wrapt==1.15.0
yapf==0.32.0
